/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 26/03/2022, 1:34:10 PM
    Author     : chrisvuong
*/

html * {
    font-family: Helvetica, sans-serif;
}

input[type=submit] {
    background-color: green;
    color: white;
    font-size: 20px;
    padding: 5px;
}

input[type=submit]:hover {
    background-color: lightgreen;
}

input {
    font-size: 16px;
    padding: 5px;
}

