/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/*
    Created on : 26/03/2022, 1:34:10 PM
    Author     : chrisvuong
*/

html * {
    font-family: Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

p {
    color: red;
}

header {
    background-color: lightskyblue;
}

footer {
    background-color: black;
    color: white;
}

.navbar {
    height: 50px;
    padding: 0;
    margin: 0;
}

/* Register Page */
input[type=submit] {
    background-color: green;
    color: white;
    font-size: 20px;
    padding: 5px;
}

input[type=submit]:hover {
    background-color: lightgreen;
}

input {
    font-size: 16px;
    padding: 5px;
}


/* Main Page */
.topbarbtn {
    background-color: lightskyblue;
    color: black;
    padding: 17px 25px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.topbarbtn:hover, .topbarbtn:active {
  background-color: lightblue;
}

button {
    background-color: lightskyblue;
    display: inline-block;
    font-size: 30px;
    height: 70px;
    border: none;
}

input[type=text] {
    font-size: 20px;
    height: 38px;
}

#home {
    border: none;
    font-size: 30px;
    height: 70px;
    padding: 10px;
}

.searchbtn {
    background-color: orange;
    font-size: 25px;
    height: 50px;
    padding: 10px;
}

.searchbtn:hover {
    background-color: darkorange;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: orange;
}


.dropbtn {
    padding: 17px 25px;
    font-size: 30px;
    height: 70px;
    cursor: pointer;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    right: 0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: lightblue;}
