<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>uts.isd.controller.ConnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartController</servlet-name>
        <servlet-class>uts.isd.controller.ViewCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrdersController</servlet-name>
        <servlet-class>uts.isd.controller.ViewOrdersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitOrderController</servlet-name>
        <servlet-class>uts.isd.controller.SubmitOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateOrderController</servlet-name>
        <servlet-class>uts.isd.controller.CreateOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>uts.isd.controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>uts.isd.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchProductsController</servlet-name>
        <servlet-class>uts.isd.controller.FetchProductsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductController</servlet-name>
        <servlet-class>uts.isd.controller.ViewProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProductsController</servlet-name>
        <servlet-class>uts.isd.controller.ShowProductsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindProductController</servlet-name>
        <servlet-class>uts.isd.controller.FindProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProductController</servlet-name>
        <servlet-class>uts.isd.controller.CreateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductController</servlet-name>
        <servlet-class>uts.isd.controller.UpdateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductController</servlet-name>
        <servlet-class>uts.isd.controller.EditProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartController</servlet-name>
        <url-pattern>/ViewCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrdersController</servlet-name>
        <url-pattern>/ViewOrdersController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitOrderController</servlet-name>
        <url-pattern>/SubmitOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateOrderController</servlet-name>
        <url-pattern>/CreateOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchProductsController</servlet-name>
        <url-pattern>/FetchProductsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductController</servlet-name>
        <url-pattern>/ViewProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProductsController</servlet-name>
        <url-pattern>/ShowProductsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindProductController</servlet-name>
        <url-pattern>/FindProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProductController</servlet-name>
        <url-pattern>/CreateProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductController</servlet-name>
        <url-pattern>/UpdateProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductController</servlet-name>
        <url-pattern>/EditProductController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
